<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h2>Add New Product Category</h2>
    <br>
    <form action="/admin/add_category" method="post">
        <label for="category_name">Category Name:</label>
        <input type="text" id="category_name" name="category" class="form__input" required>
        <br>
        <!-- You can add more fields for other category details here -->
        <br>
        <button type="submit" class="btn" >Add Category</button>
    </form>

    <!-- Example navigation menu -->



    <script src="../static/js/main.js"></script>
</body>
</html>