<!DOCTYPE html>
<html>
<head>
    <title>View Products</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Products</h1>
    <table class="cart  table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[1] }}</td>
                    <td>{{ product[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="../static/js/main.js"></script>
</body>
</html>
